.container{
  border: 5px solid crimson;
  padding: 15px;
  height: 70vh;
  font-size: 30px;
  background-color: grey;
  background-image: url(./../images/sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.btn{
  font-size: 30px;
  padding: 15px;
  text-transform: capitalize;
  min-width: 50px;
  width: 100%;
  max-width: 300px;
  

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
