.profile-pic-good{
  width: 25vmin;
  height: 25vmin;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.profile-pic-bad{
  width: 25vmin;
  height: 25vmin;
  border-radius: 50%;
  background-image: url(./../images/Cat_November.jpg);
  background-size: cover;
}
