.main-header {
  font-family: 'Satisfy', cursive;
  color: darkcyan;
  text-align: center;
  text-transform: uppercase;
}

.art-header {
  font-family: 'PT Serif', serif;
  color: magenta;
  font-size: 36px;
  text-transform: capitalize;
}

.art-header+p {
  font-size: 22px;
  font-weight: 800;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.3em;
  text-align: justify;
}

.page-link {
  
    text-decoration: line-through 2px double red;
    /* text-decoration-line:line-through;
    text-decoration-thickness: 2px;
    text-decoration-style:double;
    text-decoration-color: red; */
}

.aline-center {
  text-align: center;
}